{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Hortifruti  ALS</h1>

    <div class="row">
        {% for banner in banners %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{% url 'loja' %}{{ banner.link_destino }}">
                    <img src="{{ banner.imagem.url }}" class="card-img-top" alt="{{ banner.link_destino }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ banner.link_destino }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}