{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="text-center">{{ produto.nome_produto }}</h1>

  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="card">
        <!-- Exibe a imagem do produto -->
        <div class="card-image">
          {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome_produto }}" class="img-fluid img-moldura">
          {% else %}
            <p>Imagem não disponível</p>
          {% endif %}
        </div>

        <div class="card-body">
          <!-- Exibe o nome do produto -->
          <h5 class="card-title">{{ produto.nome_produto }}</h5>

          <!-- Exibe a descrição do produto (se existir) -->
          {% if produto.descricao %}
            <p class="card-text">{{ produto.descricao }}</p>
          {% endif %}

          <!-- Exibe o preço e a unidade do produto -->
          <p class="card-text">R$ {{ produto.preco }} por {{ produto.unidade }}</p>

          <!-- Verifica se há itens em estoque -->
          {% if itens_estoque %}
            <!-- Formulário de adicionar ao carrinho -->
          <form method="post" action="{% url 'adicionar_carrinho' produto.id %}">
            {% csrf_token %}

            <!-- Linha para Quantidade + Input + Unidade -->
            <div class="d-flex align-items-center mb-3">
              <input type="number" id="quantidade" name="quantidade" min="1" max="{{ quantidade_disponivel }}" value="1" class="form-control me-2" style="width: 80px;">
              <span class="card-text">{{ produto.unidade }}</span>
            </div>

            <!-- Botão de adicionar ao carrinho (fica abaixo) -->
            <button type="submit" class="btn btn-primary w-100"> + Adicionar </button>
          </form>


          {% else %}
            <p class="card-text text-danger">Produto fora de estoque</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
