<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
            <a class="nav-link" href="{% url 'loja' %}">Loja</a>
            <a class="nav-link" href="{% url 'login' %}">login</a>
            <a class="nav-link" href="{% url 'minha_conta' %}">Minha Conta</a>
            <a class="nav-link" href="{% url 'carrinho' %}">Carrinho</a>
      </div>
    </div>
  </div>
</nav>